@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    font-size: 18px;

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* Asegura que el nav esté por encima del hero */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 25%;
    height: auto;
    object-fit: contain;
    min-width: 50px;
    min-height: 25px;
}

/* --- Estilos para la lista de navegación --- */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5e2a9;
    font-size: clamp(0.5rem, 1vw + 0.6rem, 1.5rem);
    padding: 1px 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #974276;
    transform: scale(1.1);
}

/* --- Sección Hero con imagen de fondo --- */


.hero {
    position: relative;
    height: 100vh;
    background-image: url('imagenes/TaylorSwift.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    top: 200px;
    left: 20px;

}

.hero h1 {
    font-family: 'Libre Baskerville', serif;
    color: #f5e2a9;
    font-size: clamp(3rem, 6vw + 2rem, 5rem);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.hero h2 {
    font-family: 'Raleway', sans-serif;
    color: #f5e2a9;
    font-size: clamp(1.5rem, 2vw + 1rem, 4rem);
    padding: 0;
    font-weight: normal;/
}

.hero h1,
.hero h2 {
    margin: 1.5rem;
    /* Elimina el margen por defecto */
}


/*---------------SECTION recent news------------*/

.recent-news {
    padding: 1px;
    overflow: hidden;
}

.news-header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.25rem;

}

.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 4.5rem;
    font-weight: lighter;
    color: #974276;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: lighter;

}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: #df4bcc;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;

}

/*contenedor imagnes enlaces noticias*/
.images {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 0 20px;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
}

/* -----------------------NEWS SECTION-------------- */
.news-cards {
    display: flex;
    justify-content: center;
    border: 3px solid #974276;
    padding: 25px;
    margin: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 2px solid #974276;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    max-width: 300px;
    height: 450px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}

.card h3 {
    font-family: 'Poppins';
    color: #252323;
    margin: 10px 0;
    font-weight: normal;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    background-color: #974276;
    color: #fff;
    border-radius: 0px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #df4bcc;
}


.citas {
    text-align: center;


}

.citas p {
    font-size: 1rem;
    color: #974276;
    font-style: italic;
}

/* -------SECTION +INFO--------------- */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

/*concerts*/

.cartel {
    display: flex;
    width: 600px;
    height: 600px;
    padding: 25px;
    margin: 0 20px;
}

.cartel img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.9;
    transition: 0.5 ease;
}

.cartel img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);
}


/* Sección de conciertos */
.concert-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    min-width: 300px;
    flex: 1 1 300px;
}

.concert-header h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    font-weight: lighter;
}

/* Encabezado de la sección de conciertos */
.concert-header {
    text-align: center;
    margin-bottom: 1rem;
    align-items: top;


}

/* Contenedor de botones */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Estilos de los enlaces/botones */
.enlace {
    background-color: #974276;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 0;
    border: none;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.enlace:hover {
    background-color: #df4bcc;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Encabezados centrados */
.concert-header h3,
.concert-header h4 {
    width: 100%;
    text-align: center;
}


/* bio seccion*/
.bio {
    position: relative;
    height: 100%;
    background-image: url('imagenes/Taylor-Swift-lover-album-.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    margin-top: 50px;
    overflow: hidden;
}

.bio-content {
    width: 100%;
    text-align: center;
    padding: 0 0;
}

.bio-content h5 {
    font-family: 'Libre Baskerville', serif;
    color: #974276;
    margin: 0;
    font-size: clamp(2.8rem, 11vw, 10rem);
    font-weight: normal;
}



/*----------------------SECTION ABOUT TAYLOR-------------r*/
.about-T {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.about-header {
    text-align: center;
}

.about-header h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4.5rem;
    font-weight: lighter;
    color: #974276;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    /* Espacio superior e inferior */
    gap: 20px;
}

.content-bio {
    flex: 1;
    text-align: justify;
    max-width: 600px;
    /* Ancho máximo de la sección de texto */
}

.content-bio p {
    line-height: 1.6;
    font-size: 1.2rem;
    /* Tamaño de fuente para mayor legibilidad */
}



.img-bio {
    margin-top: 40px;
    flex: 100px 50px 300px;
    float: left;
    padding-left: 2rem;
    align-items: center;
}

.img-bio img {
    width: 70%;
    height: auto;
    filter: drop-shadow(0px 0px 6px grey);
}

span {
    color: #974276;
}

/* -----------------GALLERY SECTION-------- */

.gallery {
    padding: 10px;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.gallery-item {
    display: inline-block;
    flex: 1 0 30%;
    max-width: 30%;
    overflow: hidden;
    transition: transform 0.3s;
    padding: 0;
}

.gallery-item:hover {
    transform: scale(1.05);
   
}

.gallery-item img {
    width: 100%;
    height: auto;
  
}

/*----------------SECTION-- LOVER-------------------------------*/
/*lover:the Album*/
.album {
    position: relative;
    height: 100vh;
    background-image: url('imagenes/20.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    margin-top: 50px;
    overflow: hidden;
}

.lover {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.lover-header {
    text-align: center;
}

.lover-header h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4.5rem;
    font-weight: lighter;
    color: #974276;
}

/* Contenedor principal de la sección */
.lover-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    /* Espacio superior e inferior */
    gap: 10px;
}

/* Contenido izquierdo */
.content-lover {
    flex: 1;
    text-align: justify;
    max-width: 600px;

}

.content-lover p {
    line-height: 1.6;
    font-size: 1.2rem;
    padding-left: 2rem;
}


/* Contenido derecho */
.img-lover {
    margin-top: 40px;
    flex: 100px 50px 300px;
    float: left;
    padding-left: 2rem;
    align-items: center;


}

.img-lover img {
    width: 80%;
    height: auto;
    filter: drop-shadow(0px 0px 6px grey);
}

.linea {
    width: 900px; /* Ancho de la línea */
    height: 5px; /* Altura de la línea */
    background: linear-gradient(30deg, #ffadad, rgb(196, 232, 232), #fdffb6, #7bf1d5, violet); /* Gradiente de colores */
    background-size: 400%; 
    animation: cambioColor 8s infinite linear; 
    margin: 20px auto; 
    display: flex;
    overflow: hidden; 
    position: relative; 
    right: 0; 
}

@keyframes cambioColor {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}


.contenedor {
    display: flex; 
    justify-content: flex-end; 
    padding: 20px; 
}


/*---------------SECTION---COLLABORATION------*/


.collaboration {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.collaboration-header-left h3 {
    font-size: min(5rem, 11vw);
    text-align: center;


}

.collaboration-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    gap: 10px;
}

.content-collaboration-left {
    flex: 1;
    text-align: justify;
    max-width: 600px;
}

.content-collaboration-left p {
    line-height: 1.6;
    font-size: 1.2rem;
    padding-left: 2rem;
}

.img-collaboration-right {
    margin-top: 40px;
    flex: 100px 50px 300px;
    float: left;
    padding-left: 2rem;
    align-items: center;
}

.img-collaboration-right img {
    width: 80%;
    height: auto;
    filter: drop-shadow(0px 0px 12px grey);
}


/*--------SECTION CRITICAL*/

.critical {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.critical-header-left {
    text-align: center;
}

.critical-header-left h3 {
    font-size: min(5rem, 15vw);
    text-align: center;
}

.critical-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    /* Espacio superior e inferior */
    gap: 10px;
}

/* Contenido izquierdo */
.content-critical-left {
    flex: 1;
    text-align: justify;
    max-width: 600px;
}

.content-critical-left p {
    line-height: 1.6;
    font-size: 1.2rem;
    padding-left: 2rem;

}

.img-critical-right {
    margin-top: 40px;
    flex: 100px 50px 300px;
    float: left;
    padding-left: 2rem;
    align-items: center;
}

.img-critical-right img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 6px grey);

}


/*-----------------MUSIC SECTION--------*/
/*------- SECTION MUSIC -------*/

.music-body {
    text-align: center;
}

.music-header {
    text-align: center;
}

.reproductor-music iframe {
    margin-top: 20px;
    /* espacio entre el encabezado y el reproductor */
}

/*------------VIDEO SECTION----------*/
/* Video section header */
.video-header {
    text-align: center;
}

.images2 {
    display: flex; 
    justify-content: center; 
    border: 3px solid #974276;
    margin: 0 100px; 
    flex-wrap: wrap; 
    gap: 20px;
}
.images2 img {
    width: 100%; 
    height: auto;
    max-width: 300px; 
    margin: 5px;
    transition: transform 0.3s ease; 
}

.images2 img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
}
.video-header .title {
    font-family: 'Libre Baskerville', serif;
    font-size: 5rem;
    font-weight: lighter;
    color: #974276;
    margin-bottom: 4rem;
}

.body-video p {
    font-size: 1rem;
    font-style: italic;

}


/*-------------CONTACT SECTION---------------*/
.contact {
    position: relative;
    height: 100%;
    background-image: url('imagenes/contact.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    overflow: hidden;

}

.contact-content {
    width: 100%;
    text-align: center;
    

}

.contact-content h5 {
    font-family: 'Libre Baskerville', serif;
    color: #974276;
    margin: 0;
    font-size: clamp(4.5rem, 11vw, 10rem);
    font-weight: normal;


}

/* -----Formulario--------------------- */
.container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    height: auto; 
    padding: 20px; 
    overflow: hidden;
    flex-wrap: wrap; 
}

.text-left {
    flex: 1;
    min-width: 300px; 
    margin-bottom: 20px; 
}

.text-left p {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    font-style: italic;
    padding: 10px 10px;
    gap :30px;
}

.text-left h2 {
    text-align: center;
    font-size: 2.5rem; 
    color: #df4bcc;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
}

.contact-container {
    flex: 1;
    min-width: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('imagenes/footer.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding: 20px; 
    margin-right: 30px;
}

.contact-form {
    border-radius: 8px;
    padding: 20px;
    width: 100%; 
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    color: #974276;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], input[type="email"], textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 93%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #974276;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #df4bcc; 
}


/*----------FOOTER-----------*/

.footer {
    background-image: url(imagenes/footer.png);
    color: white;
    text-align: center;
    padding: 10px 10px;
    overflow: hidden;
}

.footer-content {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.footer-content p {
    font-size: 1rem;
    font-family: 'Poppins';
    line-height: 0.5;

}

.social-icons a {
    margin: 0 5px;
}